@font-face {
  font-family: "Norse-Bold";
  src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf) format("opentype");
}
body {
    margin:0;
    font-family: Norse-Bold;
    display: flex;
    min-height: 100vh;
}

#image {
    flex:1;
    position: relative;
    max-width: 30vw;
    min-width: 30em;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.logo-body  {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: max-content;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    top: 4rem;
    font-size: 5rem;
}

.logo-body p{
    margin:0;
}
#logo {
    height: 16rem;
    margin: 2rem;
}

/* Form */
#form {
    flex:1;
    display: flex;
    flex-direction: column;
    font-family: "Inter";
}
.description,
.form,
.buttons {
    flex:1;
}

.description{
    display: flex;
    background-color: #f7f9fa;
    font-weight: 600;
    font-size: 24px;
    padding: 2rem 2rem;
    justify-content: end;
    flex-direction: column;
    margin-top: auto;
}
.description p{
    max-width: 40rem;
}

.form {
    margin:0 2rem;
}

.buttons{
    background-color: #f7f9fa;
    padding: 2rem 2rem
}

.buttons button{
    padding: 1rem 3rem;
    border-radius: 8px;
    border: 0;
    background-color: #596D48;
    color:white;
    font-weight: bold;
    font-size:16px;
}

.buttons a{
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin: 1em 0;
}

.form-set {
    display: flex;
    flex-direction: column;
}

.form-set label {
    font-weight: bold;
    color: #666666;
    font-size: 12px;
    margin-bottom: 4px;
}

.form-set input{
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    height: 2em;
    width: 16rem;
    outline: 0;
    padding: 0 0.5em;
}

.form-set input:focus {
    border: 1px solid blue;
    box-shadow: 0 0 0 2px rgba(0, 0, 255, 0.2);
}

.form-set input:invalid{
    border: 1px solid red;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.2);
}